
  <div class="container">
    <div class="center">
      <h2 class="teal-text text-darken-1" style="font-family: papyrus; font-weight: bold;">WELCOME TO MY APP</h2>
    </div>
  	<div class="center">
  		<button class="btn teal darken-2 waves-effect waves-light" id="Afficher">Afficher</button>
  		<button class="btn red darken-2 waves-effect waves-light" id="cacher">cacher</button>
  	</div>
  	<br>
  	<br>
    <div class="row">
  	    <div class="card-panel grey darken-4 col s12 l6 m8 offset-l3 offset-m2" id="formulaire"
         style="border-radius:30px ;">
  	    	<span class="card-title"><h5 class="teal-text center">CONNECTEZ VOUS</h5></span>
  	    	<form  id="formulaire" class="">
	  	        <div class="input-field">
              <i class="material-icons prefix teal-text">login</i>
	  	 	      <label>LOGIN</label>
	  	 	      <input type="text" name="login" class="grey-text text-lighten-2">
	  	        </div>
	  	        <div class="input-field">
              <i class="material-icons prefix teal-text">lock</i>
	  	 	      <label>PASSWORD</label>
	  	 	      <input type="password" name="motDepasse" class="grey-text text-lighten-2" >
	  	        </div>
	  	        <div class="center">
	  	           <button type="submit"
                 class="btn  red darken-3 waves-effect waves-light pulse"
                  name="btnConnect" style="margin-bottom:10px;">
                 <i class="material-icons">supervisor_account</i>
                 SE CONNECTEZ
              </button>
	  	        </div>
  	        </form>
        </div>
      </div>
   </div>

