<div class="navbar-fixed">
  <nav class="grey darken-4">
      <div class="nav-wrapper">
          <div class="container">
      <a href="#" class="brand-logo grey-text text-lighten-1  center" style="font-family: papyrus;
       font-weight:bold;">AzharApp</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large right">
          <i class="material-icons medium  grey-text text-lighten-1  tooltipped"  data-position="bottom" data-tooltip="MENU">menu</i>
      </a>
      </div>
  </div>
  </nav>
</div>
  <ul class="sidenav grey darken-4 white-text" id="mobile-demo">
      <div>
      <li class="teal darken-3">
             <div class="user-view">
                 <a href="#">
                     <i class="material-icons grey-text text-lighten-3 large">supervisor_account</i>
                  <!-- <img src="public/image/person3.jpg" alt="" class="circle"> -->
                  </a>
                  <a href="">
                      <span class="name grey-text text-lighten-3">
                          HexaDec4
                      </span>
                  </a>
                  <a href="">
                      <span class="email grey-text text-lighten-3">
                          HD4@gmail.com
                      </span>
                  </a>
             </div>
            </li>
          </div>
           <li>
              <a href="" class="waves-effect white-text hoverable">
                 <i class="material-icons teal-text ">dashboard</i>
                 Tableau de bord
               </a>
             </li>
             <li>
              <a href="" class="waves-effect white-text hoverable">
                 <i class="material-icons blue-text ">list</i>
                 Liste des Eleves
               </a>
             </li>
             <li>
              <a href="" class="waves-effect white-text hoverable">
                 <i class="material-icons yellow-text ">class</i>
                 Classes
               </a>
             </li>
             <li>
              <a href="" class="waves-effect white-text hoverable">
                 <i class="material-icons white-text">home</i>
                 Gestions  & Comptablités
               </a>
             </li>
             <li>
              <div class="divider grey darken-2 "></div>
           </li>
             <li>
              <a href="" routerLink="connexion" class="waves-effect white-text hoverable">
                  <i class="material-icons red-text">logout</i>
                   Déconnexion
              </a>
           </li>
  </ul>

